<div class="jumbotron mt-5">
    <h2 class="heading">Filtra noticia por país y categoria</h2>
    <div class="row mt-3">
        <div class="col-lg-8 offset-lg-2">
            <form>
                <div>
                    <select name="categoria" class="form-control form-control-lg" >
                        <option>General</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div>
                    <select name="pais" class="form-control form-control-lg mt-3" >
                        <option>Argentina</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <button class="btn btn-lg btn-block btn-primary mt-3">Buscar</button>
            </form>
        </div>
    </div>
</div>